.btn-yours{
  background-color: white;
  color: #05391F;
  border: solid 2px #05391F;
  border-radius: 10px;
  padding: 12px 23px;
  font-weight: bolder;
  opacity: 0.75;
  transition-duration: 0.3s
}

.btn-yours:hover {
  opacity: 1;
}
